<% include partials/header %>

<div class="ui main  text segment container">
  <div class="ui huge  header">RESTfull Blog App</div>
  <div class="ui top attached segment">
    <div class="ui divided items">
      <%  for(var i=0;i<blogs.length;i++){%>
        <div class="item">
          <div class="image">
            <img src="<%= blogs[i].url %>">
          </div>
          <div class="content">
            <a class="header" href="/blog/<%= blogs[i]._id %>"><%= blogs[i].title %><a>
            <div class="meta">
              <span><%= blogs[i].date.toDateString() %></span>
            </div>
            <div class="description">
              <p><%= blogs[i].description.substring(0,10) %> ....</p>
            </div>
            <div class="extra">
              <a class="ui floated basic violet button" href="/blog/<%= blogs[i]._id %>">
                read more
                <i class="icon right chevron"></i>
              </a>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>

</div>

<% include partials/footer %>
